<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="E520._47标定.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <E520._47标定.Properties.Settings>
            <setting name="Openpath" serializeAs="String">
                <value>D:\\</value>
            </setting>
            <setting name="p1p2_xuanze" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="T1_xuanze" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="T2_xuanze" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Savepath" serializeAs="String">
                <value>D:\\</value>
            </setting>
            <setting name="Cdatpath" serializeAs="String">
                <value>D:\\</value>
            </setting>
            <setting name="COMpath" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="COMTpath" serializeAs="String">
                <value>COM10</value>
            </setting>
            <setting name="COMPpath" serializeAs="String">
                <value>COM11</value>
            </setting>
        </E520._47标定.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="ConStr" connectionString="Server = localhost;Uid=sa;Pwd=123456;Database=test;"/>
	</connectionStrings>
</configuration>